html{
  min-width: 1100px;
}
.panel-1{
  background-color: #F6242D;
  height: 655px;
  display: flex;
  position: relative;
  .panel-1-1{
    margin-top: auto;
    width: 690px;
    text-align: left;
    font-size: 3.2em;
    color: white;
    div:first-child{
      margin-left: 123px;
      margin-bottom: 42px;
      line-height: 1.24em;
    }
    img{
      width: 100%;
      margin-bottom: -11px;
    }
  }
  .panel-1-2{
    position: absolute;
    width: 300px;
    height: 300px;
    left: -238px;
    top: -64px;
    background-color: #C71E1E;
    border-radius: 35px;
    -ms-transform: rotate(-13deg); /* IE 9 */
    -webkit-transform: rotate(-13deg); /* Safari prior 9.0 */
    transform: rotate(-13deg); /* Standard syntax */
  }
  .panel-1-3{
    width: 290px;
    height: 450px;
    margin-left: auto;
    background-image: url('../../assets/img/home_6.png');
    background-size: 100% 100%;
  }
 
}
.panel-2{
  background-color: #E6E6E6;
  height: 535px;
  &-title{
    margin-left:15px;
    font-family: 'Avenir Next';
    padding-top: 130px;
    color: #F6242D;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
  }
  
}
.panel-3{
  text-align: left;
  background-color: #F6242D;
  width: 100%;
  height: 935px;
  padding-top: 215px;
  display: flex;
  color:white;  
  .panel-3-1{
    margin-left: 125px;
    .title{
      width: 660px;
      font-size:3.15em;
    }
    .detail{
      margin-top: 45px;
      .detail-section{
        display: flex;
        margin-top: 24.2px;
        .detail-section-icon{
          border-radius: 50%;
          width: 65px;
          height: 65px;
          border: 1px dashed white;
          img{
            margin-top: 18px;
            margin-left: 18px;
            width:30px;
            height:30px;
          }
        }
        .detail-section-info{
          margin-left: 18px;
          font-family: 'Avenir Next';
          .detail-section-heading{
            font-size: 1.4em;
            font-weight: bold;
          }
          .detail-section-description{
            margin-top: 13px;
            font-size: 1.06em;
            line-height: 24px;
          }
        }
      }
    }
  }
  .panel-3-2{
    margin-top: 20px;
    margin-left: auto;
    width: 565px;
    height: 790px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.panel-4{
  width:100%;
  height:215px;
  background-image: url("../../assets/img/home_5.png");
  background-size: 100% 100%; 
  text-align: center;
  color:white;
  font-family: 'Avenir Next';
  padding-top: 65px;
  div:first-child{
    margin-left:20px;
    font-size: 2.1em;
    font-weight: bold;
  }
  .signup{
    margin: 30px auto;
    width: 260px;
    height: 37px;
    font-size: 15px;
    font-weight: bold;  
    background-color: #74C145;
    border-radius: 5px;
    cursor: pointer;
    padding-top:17px;
    
  }
  
}
.blog-panel{
  top:870px;
  font-family: 'Avenir Next';
  width: 100%;
  margin-top: 35px;
  .blogs{
    display: flex;
    position: relative;
    margin-left: calc(50% - 544px);
    width: 1100px;
    .blog{
      width: 550px;
      height: 410px;
      background-color: white;
      border-radius: 10px;
      .blog-img{
        background-color: #E6E6E6;
        margin: 0 auto;
        margin-top:40px;
        width: 175px;
        height: 175px;
        border-radius: 50%;
        img{
          width: 80%;
          height: 85%;
          margin-top:25px;
          margin-left:5px;
        }
      }
      .blog-title{
        margin-top:15px;
        font-size: 30px;
        font-weight: bold;
      }
      .blog-description{
        font-size:15px;
        margin-top:18px;
        line-height: 21px;
      }
    }
    .blog:first-child {
      margin-right:30px;
      img{
        width: 115%;
        height: 80%;
        margin-top:25px;
        margin-left:-10px;
      }
    }
    
  }
}
